#card-giocatori {
    max-height: 200px;


}

.error {
    font-size: 8px;
}

.player-label {
    min-width: 280px;
}

.warning-modalita {
    color: red;
    font-weight: bold;
    font-size: 12px;
}