<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3>Timer</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>
      <h2>inserisci secondi:</h2>
    </ion-label>
    <ion-input type="number" min=0 [formControl]=" secs"></ion-input>
    </ion-item>
  <div class="ion-text-center">
    <h1 *ngIf="countdownDisplay">{{countdownDisplay}}</h1>
    <!-- <ion-text justify-content-center color="danger" *ngIf="this.error">
      Questo timer accetta solo numeri in base 10!
    </ion-text> -->
  </div>
  <ion-button *ngIf="start ===false" expand="block" size="large" color="primary" (click)="countDown()">start
    countdown</ion-button>
  <ion-row *ngIf="start === true">
    <ion-col>
      <ion-button expand="full" size="large" color="primary" (click)="restart=true">Restart</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" size="large" color="primary" (click)="stop=true">Stop</ion-button>
    </ion-col>
  </ion-row>
</ion-content>