<ion-content fullscreen [class]='changeBackground()' (click)="newTurn()">
  <ion-row>
    <ion-col class="ion-text-start">
      <ion-button class="buttons" size="default" (click)="onBackButtonClicked()">End game</ion-button>
    </ion-col>
    <ion-col class="ion-text-end">
      <ion-text class="numeroturni" *ngIf="turni >=3000">{{turnoCorrente}}</ion-text>
    </ion-col>
  </ion-row>
  <div class="ion-text-center-frase">
    <ion-text justify-content-center>{{frase}}</ion-text>
  </div>
  <div *ngIf="maledizioniConcluse.length > 0">
    <ion-list mode="md" class="lista-virus-conclusi">
      <ion-title class="ion-text-center"
        style="color:black; font-weight: bold; font-size: 30px; font-family: Yanone Kaffeesatz"> Maledizioni Concluse
      </ion-title>
      <ion-item class="ion-text-center" style="font-family:DynaPuff" lines="none" color="none"
        *ngFor="let v of this.maledizioniConcluse">
        {{v}}
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border transparent>
  <ion-toolbar trasparent no-border>
    <div class="ion-text-center">
      <ion-button class="buttons" size="default" (click)="modal('players')">
        <ion-icon name="people-outline"></ion-icon>
      </ion-button>
      <ion-button class="buttons" color="warning" size="default" (click)="modal('virus')">
        <ion-icon name="medical-outline"></ion-icon>
      </ion-button>
      <ion-button class="buttons" size="default" (click)="timer()">
        <ion-icon name="timer-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>